In [2]:
import curve_pl
import iminusj_util

### Part 1: Initialize

In [43]:
host = 'mgcl2_150mm'
l_theta = curve_pl.LmodulusTheta(host)
print(f'cd {l_theta.rootfolder}')

/home/yizaochen/codes/dna_rna/length_effect/find_helical_axis/mgcl2_150mm/l_theta exists
cd /home/yizaochen/codes/dna_rna/length_effect/find_helical_axis/mgcl2_150mm

### Part 2: Calculate $|l_{i}|$, $|l_{j}|$, $\theta_{i,j}$ for all frames

In [3]:
# Make, if needed
#l_theta.make_l_modulus_theta()
#l_theta.df.head(5)

In [44]:
# Read
l_theta.read_l_modulus_theta()
l_theta.df.head(5)

   Frame_ID  i  j     |l_i|     |l_j|     theta
0         0  0  1  3.054191  2.419186  0.094453
1         0  0  2  3.054191  3.207557  0.131127
2         0  0  3  3.054191  3.906739  0.150629
3         0  0  4  3.054191  3.089777  0.229819
4         0  0  5  3.054191  2.829421  0.260122

### Part 3: Split DataFrame into 5 parts

In [45]:
l_result = iminusj_util.split_df_5_parts(l_theta.df)

There are 2001 frames in the 1 part.
There are 2000 frames in the 2 part.
There are 2000 frames in the 3 part.
There are 2000 frames in the 4 part.
There are 2000 frames in the 5 part.

### Part 4: Set d_plots and save to pkl file

In [46]:
length_eff = curve_pl.LengthEffect(host, l_result)

In [47]:
length_eff.set_df_container()
length_eff.set_d_plots()
length_eff.save_d_plots_to_pkl()

Write /home/yizaochen/codes/dna_rna/length_effect/find_helical_axis/mgcl2_150mm/output/lp_lncos_deltatheta.pkl