In [1]:
from bentdna import curve_pl

### Part 1: Initialize

In [3]:
host = 'tat_21mer'
l_theta = curve_pl.LmodulusTheta(host)
print(f'cd {l_theta.rootfolder}')

mkdir /home/yizaochen/codes/dna_rna/length_effect/find_helical_axis/tat_21mer/l_theta
cd /home/yizaochen/codes/dna_rna/length_effect/find_helical_axis/tat_21mer

/home/yizaochen/miniconda3/envs/bentdna/lib/python3.8/site-packages/MDAnalysis/topology/PDBParser.py:330: UserWarning: Element information is absent or missing for a few atoms. Elements attributes will not be populated.
  warnings.warn("Element information is absent or missing for a few "

### Part 2: Calculate $|l_{i}|$, $|l_{j}|$, $\theta_{i,j}$ for all frames

In [4]:
# Make, if needed
l_theta.make_l_modulus_theta()
l_theta.df.head(5)

make /home/yizaochen/codes/dna_rna/length_effect/find_helical_axis/tat_21mer/l_theta/l_modulus_theta_21_beads.csv

   Frame_ID  i  j     |l_i|     |l_j|     theta
0         0  0  1  2.793321  3.815672  0.077120
1         0  0  2  2.793321  3.071434  0.081903
2         0  0  3  2.793321  2.660890  0.220778
3         0  0  4  2.793321  3.360814  0.262027
4         0  0  5  2.793321  3.473324  0.235217

In [ ]:
# Read
l_theta.read_l_modulus_theta()
l_theta.df.head(5)