In [8]:
from os import path
from bentdna import shapefourier
bentna_folder = '/home/yizaochen/codes/bentdna'

### Part 1: Initialize

In [9]:
workfolder = path.join(bentna_folder, 'tests')
host = 'pnas_16mer'
s_agent = shapefourier.ShapeAgent(workfolder, host)

### Part 2: Read $l_i$ and $\theta$

In [10]:
s_agent.read_l_modulus_theta()

In [11]:
s_agent.df.head(10)

   Frame_ID  i   j     |l_i|     |l_j|     theta
0         0  0   1  3.624648  2.808781  0.077684
1         0  0   2  3.624648  3.561358  0.147521
2         0  0   3  3.624648  3.352424  0.188460
3         0  0   4  3.624648  3.560380  0.182551
4         0  0   5  3.624648  3.403866  0.089722
5         0  0   6  3.624648  2.764086  0.069614
6         0  0   7  3.624648  3.467232  0.083026
7         0  0   8  3.624648  3.160709  0.186142
8         0  0   9  3.624648  2.749290  0.213325
9         0  0  10  3.624648  3.569155  0.105919